/* 
.admin-terminal {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #141414;
    font-family: 'Courier New', Courier, monospace;
}


.admin-link {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 0.5rem auto;
    text-align: center;
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    background-color: #e50914;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;
}

.admin-link .arrow {
    margin-left: 0.5rem;
}

.admin-link:hover {
    background-color: #b20710;
    text-decoration: none;
}

.admin-link .arrow {
    border: solid #fff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 0.3rem;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transition: transform 0.3s ease;
}

.admin-link:hover .arrow {
    transform: rotate(-45deg) translateX(5px);
} */ 
