 
 
 header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0; /* Reset any unwanted margins */
  padding: 0; /* Reset any unwanted padding */
  z-index: 100; /* Ensures the header stays above other elements */
} 
 
 header nav {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    padding: 10px;
    background-color: #060606;
  }
  
  /* Navigation link styles */
  header nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: large;
    transition: color 0.3s;
  }

  
  header nav a:hover {
    color: #e50914; /* Netflix red */
  }

  #nav-logo img {
    position: relative;
    height: 100px;
    margin: 0 auto;
    opacity: 0.85;
  }



