#screen-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('../../../public/assets/img/catflix-main-background.webp');
    background-size: cover;
    background-position: center;
    font-family: 'Courier New', Courier, monospace;
}

#search-nav {
    background-color: rgb(9, 8, 8);
    z-index: 100;
}

body.light #search-nav {
    background-color: rgb(255, 255, 255);
}

.home-container-search {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: rgba(14, 14, 14, 0.6);
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

body.light .home-container-search {
    background-color: rgba(14, 14, 14, 0);
  }

#search-footer {
    margin-top: 86vh;
}

.search-input {
    margin-bottom: 20px;
}

body.light .search-input {
    background-color: #333;
    color: white;
    margin-bottom: 20px;
}