#screen-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('../../../public/assets/img/catflix-main-background.webp');
    background-size: cover;
    background-position: center;
    font-family: 'Courier New', Courier, monospace;
}

.home-container-search {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: rgba(14, 14, 14, 0.6);
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

body.light .home-container-search {
    background-color: rgba(14, 14, 14, 0);
  }

#search-footer {
    margin-top: 86vh;
}