.home-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('../../../public/assets/img/catflix-main-background.webp'); /* URL of the image */
    background-size: cover; /* Ensures the image covers the whole screen */
    background-position: center; /* Centers the image */
    font-family: 'Courier New', Courier, monospace;
}
.moviesContainer {
    display: flex;
    background-color: rgba(14, 14, 14, 0.6);
    flex-direction: column;
    flex: 1;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

body.light .moviesContainer {
    background-color: rgba(14, 14, 14, 0);
}

header {
    position: sticky; /* Ensures the NavBar stays at the top */
    top: 0;
    z-index: 10;
    background-color: #141414; /* Same as the background */
    width: 100%;
}

main.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 10px; /* Add some space after NavBar */
}

.movieRow {
    margin-top: 10px; /* Add spacing between rows */
}

.home-categories-container {
    font-family: 'catfont';
    color: white;
    margin-left: 40px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #141414;
    color: white;
    margin-top: 20px;
}

#video-banner {
    margin-top: -10px;
    z-index: 9;
}

#categories {
    font-family: 'catfont';
    font-size: 1.7rem;
    font-weight: bold;
    color: white;
    margin-top: 20px;
    margin-left: 40px;
}