.home-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #141414;
    font-family: 'Courier New', Courier, monospace;
}

.moviesContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
}

header {
    position: sticky; /* Ensures the NavBar stays at the top */
    top: 0;
    z-index: 10;
    background-color: #141414; /* Same as the background */
    width: 100%;
}

main.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 10px; /* Add some space after NavBar */
}

.movieRow {
    margin-top: 10px; /* Add spacing between rows */
}

.home-categories-container {
    font-family: 'catfont';
    color: white;
    margin-left: 40px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #141414;
    color: white;
}