.movie-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #141414;
  color: white;
  padding: 50px;
  min-height: 100vh; /* Changed from height to min-height */
  overflow: auto; /* Allow scrolling if content exceeds the viewport height */
}

  
  .movie-detail h1 {
    font-size: 3em;
    font-weight: bold;
    margin: 20px 0;
  }
  
  .movie-detail img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
  }
  
  .movie-detail p {
    font-size: 1.1em;
    line-height: 1.6;
    margin: 10px 0;
    text-align: center;
    max-width: 700px;
    word-wrap: break-word;
  }
  
  .movie-detail .category,
  .movie-detail .director,
  .movie-detail .actors,
  .movie-detail .duration {
    margin-top: 15px;
  }
  
  .movie-detail .category {
    font-weight: bold;
    color: #e50914;
  }
  
  .movie-detail .director,
  .movie-detail .actors,
  .movie-detail .duration {
    font-weight: normal;
    color: #ddd;
  }
  
  .movie-detail .button {
    padding: 15px 30px;
    background-color: #e50914;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    text-align: center;
  }
  
  .movie-detail .button:hover {
    background-color: #b81d2f;
  }
  
  .movie-detail .overview {
    margin-top: 40px;
    text-align: center;
  }
  
  .movie-detail .overview h3 {
    font-size: 1.6em;
    font-weight: bold;
  }
  
  .movie-detail .overview p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-top: 10px;
    text-align: center;
    max-width: 700px;
    word-wrap: break-word;
  }
  
  .movie-detail .details-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    width: 100%;
  }
  
  .movie-detail .details-container div {
    flex: 1;
    text-align: center;
  }
  
  .movie-detail .details-container h4 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .movie-detail .details-container p {
    font-size: 1.1em;
    color: #ddd;
  }
  