.movie-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #141414;
  color: white;
  min-height: 100vh; /* Changed from height to min-height */
  flex: 1;
  font-family: 'Courier New', Courier, monospace;
}

body.light .movie-detail {
  background-color: rgb(223, 213, 213);
  color: #e7a1a1;
}

  
  .movie-detail h1 {
    font-size: 3em;
    font-weight: bold;
    margin: 20px 0;
  }
  
  .movie-detail .movie-thumbnail {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
  }
  
  .movie-detail p {
    font-size: 1.1em;
    line-height: 1.6;
    margin: 10px 0;
    text-align: center;
    max-width: 700px;
    word-wrap: break-word;
  }
  
  .movie-detail .category,
  .movie-detail .director,
  .movie-detail .actors,
  .movie-detail .duration {
    margin-top: 15px;
  }
  
  .movie-detail .category {
    font-weight: bold;
    color: #e50914;
  }
  
  .movie-detail .overview {
    margin-top: 40px;
    text-align: center;
  }
  
  .movie-detail .overview h3 {
    font-size: 1.6em;
    font-weight: bold;
  }
  
  .movie-detail .overview p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-top: 10px;
    text-align: center;
    max-width: 700px;
    word-wrap: break-word;
  }
  
  .movie-detail .details-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    width: 100%;
  }
  

  
  .movie-detail .details-container h4 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .movie-detail .details-container p {
    font-size: 1.1em;
    color: #ddd;
  }

  #edit-button {
    font-family: 'catfont';
    background-color: #ec1e1e;
    color: rgb(238, 235, 235);
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.3rem;
    font-weight: 900;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  #edit-button:hover {
    background-color: #9b1f1f; /* Darker shade on hover */
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border:white;
  border-radius: 20px;
  border-style:double;
  padding: 40px;
  background-color: #080808;
  margin-top: 20px;
  margin-bottom: 20px;
}
  
.paragraphs {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

#movie-name {
  font-family: 'catfont';
}